<mat-toolbar-row>
  <h1>โครงการ</h1>
  <button mat-raised-button color="accent" (click)="openDialog()">ADD PROJECT</button>
</mat-toolbar-row>

<div class="not" *ngIf="this.projectID">
  <h1>ไม่มีข้อมูล</h1>
</div>

<div *ngIf="!this.projectID">
  
  <table mat-table [dataSource]="dataSource" matSort *ngIf="dataSource.length > 0">

    <ng-container matColumnDef="project_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.project_id}} </td>
    </ng-container>


    <ng-container matColumnDef="project_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ </th>
      <td mat-cell *matCellDef="let row"><a href="dailyreport">{{row.project_name}}</a></td>
    </ng-container>


    <ng-container matColumnDef="project_start">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เริ่ม </th>
      <td mat-cell *matCellDef="let row"> {{row.project_start}} </td>
    </ng-container>


    <ng-container matColumnDef="project_end">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่สิ้นสุด </th>
      <td mat-cell *matCellDef="let row"> {{row.project_end}} </td>
    </ng-container>

    <ng-container matColumnDef="user_fname user_lname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อผู้ควบคุม </th>
      <td mat-cell *matCellDef="let row"> {{row.user_fname}} {{row.user_lname}} </td>
    </ng-container>

    <ng-container matColumnDef="comp_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> บริษัทที่ดูแล </th>
      <td mat-cell *matCellDef="let row"> {{row.comp_name}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let row">
          <a mat-raised-button color="primary" (click)="openDialog2(row.project_id)">Edit</a>
          <a mat-raised-button color="warn" (click)="openDialog3(row.project_id)">Delete</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>