<div class="card">
  <p-table [value]="projects" [paginator]="true" [rows]="row" [(first)]="first" styleClass="p-datatable-gridlines"
    [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="caption">
      <div class="formgrid grid">
        <div class="field col">
          <h1>โครงการ</h1>
        </div>
        <div class="feild col" align="end">
          <p-button styleClass="p-button-warning" pTooltip="เพิ่มโครงการ" (click)="openDialog()" icon="pi pi-plus"
            label="เพิ่มโครงการ"></p-button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>ชื่อ</th>
        <th>วันที่เริ่ม</th>
        <th>วันที่สิ้นสุด</th>
        <th>ชื่อผู้ควบคุม</th>
        <th>บริษัทที่ดูแล</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-projects *ngIf="!this.projectID">
      <tr>
        <td>{{ projects.project_id }}</td>
        <td><a class="report" [routerLink]="['/report', projects.project_id]">{{projects.project_name}}</a></td>
        <td>{{ projects.project_start | date: 'dd/MM/yyyy'}}</td>
        <td>{{ projects.project_end | date: 'dd/MM/yyyy'}}</td>
        <td>{{ projects.user_fname }} {{ projects.user_lname }}</td>
        <td>{{ projects.comp_name }}</td>
        <td>
          <a pButton icon="pi pi-file-edit" pTooltip="แก้ไขโครงการ" class="p-button-help"
            (click)="openDialog2(projects.project_id)"></a>
          <a pButton icon="pi pi-trash" pTooltip="ลบโครงการ" class="p-button-danger"
            (click)="openDialog3(projects.project_id)"></a>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class=" not" *ngIf="this.projectID">
        <h1>ไม่มีข้อมูล</h1>
      </div>
    </ng-template>
  </p-table>
</div>