
h1 {
    text-align: center;
    font-weight: bold;
    /* margin-top: 16px; */
}

.center {
    /* display: flex;
    justify-content: center; */
    margin: 20px 10% 20px 10%;
}

th {
    font-weight: bold;
}

th,td {
    /* font-size: larger; */
    text-align: center;
}
th {
    background: #333;
    color: white;
}
.card {
    margin: 1% 10% 0% 10%;
}

h1 {
    margin-bottom: 0;
}

::ng-deep .field {
    margin-bottom: 0;
}

::ng-deep .formgrid {
    display: flex;
    align-items: center;
}