<div class="center">
    <div class="p-fluid formgrid grid">
        <div class="feild col-4">
            <h1>การร้องขอของวิศวกรควบคุมภายนอก</h1>
        </div>
        <div class="feild col-3">
            <span class="p-float-label">
                <p-dropdown [options]="project" [(ngModel)]="selectProjectId" name="selectProjectId"
                    placeholder="----เลือกโครงการ----" optionLabel="project_name" optionValue="project_id"
                    appendTo="body"></p-dropdown>
                <label for="float-label">โครงการ</label>
            </span>
        </div>
        <div class="feild col-3">
            <span class="p-float-label">
                <p-dropdown [options]="comp" [(ngModel)]="selectCompId" name="selectCompId"
                    placeholder="----เลือกบริษัทที่ดูแล----" optionLabel="comp_name" optionValue="comp_id"
                    appendTo="body"></p-dropdown>
                <label for="float-label">บริษัทที่ดูแล</label>
            </span>
        </div>
        <div class="feild col-2">
            <span class="p-float-label">
                <p-button styleClass="p-button-warning" (click)="search()" label="ค้นหา"></p-button>
            </span>
        </div>
    </div>
</div>

<div class="not" *ngIf="this.projectID">
    <h1>ไม่มีข้อมูล</h1>
</div>
<div class="card" *ngIf="isSearchPerformed && !projectID">
    <p-table [value]="request" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="caption">
            <div class="formgrid grid">
                <div class="field col">
                    <h1>การร้องขอ</h1>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>วันที่</th>
                <th>ปัญหา</th>
                <th>ใบอนุญาตรายวัน</th>
                <th>ใบอนุญาต</th>
                <th>ใบรับรอง</th>
                <!-- <th>Action</th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-requests *ngIf="!this.projectID">
            <tr>
                <td>{{ requests.req_id }}</td>
                <td>{{ requests.req_date | date: 'dd/MM/yyyy' }}</td>
                <td>{{ requests.req_problem}}</td>
                <td>{{ requests.req_daily }}</td>
                <td>{{ requests.req_license }}</td>
                <td>{{ requests.req_certificate }}</td>
                <td></td>
            </tr>
        </ng-template>
        <!-- <ng-template pTemplate="summary">
            <div class=" not" *ngIf="!this.projectID">
                <h1>ไม่มีข้อมูล</h1>
            </div>
        </ng-template> -->
    </p-table>
</div>