<mat-grid-list cols="1" rowHeight="550px">
    <mat-grid-tile>
        <form (ngSubmit)="onSubmit()">
            <div class="example-container">
                <h1>Register</h1>
                <!-- username -->
                <mat-form-field appearance="outline" class="width-50">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" name="username" id="username" placeholder="Username"
                        [(ngModel)]="username">
                </mat-form-field>
                <!-- pasword -->
                <mat-form-field appearance="outline" class="width-50 ml-2">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" name="password" id="password" placeholder="Password"
                        [(ngModel)]="password">
                </mat-form-field>

                <br>

                <div class="btn">
                    <button mat-raised-button color="primary" type="submit">Register</button>
                </div>

            </div>
        </form>
    </mat-grid-tile>
</mat-grid-list>
