/* 
mat-grid-tile {
    background: #fafafa;
}

.width-50 {
    width: 49%;
}

.ml-1 {
    margin-left: 1%;
}

.ml-2 {
    margin-left: 2%;
}

.width-100 {
    width: 100%;
}

.width-20 {
    width: 20%;
}

.width-40 {
    width: 38%;
}


h2 {
    text-align: center;
    margin-top: 5rem;
    font-weight: bold;
}

.btns {
    display: flex;
}

.btns button {
    margin: auto;
} */


.card {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 16px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}