
.card {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    background: white;
    border-radius: 10px;
    margin-left: 40%;
    margin-right: 40%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 16px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}