.example-container {
    padding: 10px;
}

.width-50 {
    width: 49%;
}

.ml-1 {
    margin-left: 1%;
}

.ml-2 {
    margin-left: 2%;
}

.width-100 {
    width: 100%;
}

.width-20 {
    width: 20%;
}

.width-40 {
    width: 38%;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 16px;
}

/* ปรับแต่งสีพื้นหลังของ mat-form-field */
.mat-form-field {
    background-color: #f0f0f0;
  }
  
  /* ปรับแต่งสไตล์ของปุ่ม "Upload" */
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* เมื่อนำเมาส์ไปชี้ที่ปุ่ม "Upload" */
  button[type="submit"]:hover {
    background-color: #0056b3;
  }

  ::ng-deep .swal2-container {
    z-index: 2204;
}
  