mat-grid-tile {
    background: #fafafa;
}


h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 16px;
}

h2 {
    text-align: center;
    margin-top: 5rem;
    font-weight: bold;
}

.btn {
    display: flex;
}

.btn button {
    margin: auto;
}

.card {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    border-radius: 10px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ::ng-deep .p-inputtext {
    width: 100%;
} */
/* 
::ng-deep .p-dropdown {
    width: 100%;
} */