
mat-grid-tile {
    background: #fafafa;
}

.ml-1 {
    margin-left: 1%;
}

.ml-2 {
    margin-left: 2%;
}



.width-20 {
    width: 20%;
}

.width-40 {
    width: 38%;
}

.width-50 {
    width: 49%;
}

.width-100 {
    width: 100%;
}


h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 16px;
}
h2 {
    text-align: center;
    margin-top: 5rem;
    font-weight: bold;
}

.btn {
    display: flex;
}

.btn button {
    margin: auto;
}

/* .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
} */

.card {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 16px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ::ng-deep .p-inputtext {
    width: 100%;
} */
/* 
::ng-deep .p-dropdown {
    width: 100%;
} */