<div class="card">
    <form (ngSubmit)="onSubmit()">
        <h1>สมัครสมาชิก</h1>
        <div class="p-fluid formgrid grid">
            <div class="field col-6">
                <span class="p-float-label">
                    <input type="text" pInputText name="username" id="username" [(ngModel)]="username" />
                    <label htmlFor="username">ชื่อผู้ใช้</label>
                </span>
            </div>
            <div class="field col-6">
                <span class="p-float-label">
                    <input type="password" pInputText name="password" id="password" [(ngModel)]="password" />
                    <label htmlFor="password">รหัสผ่าน</label>
                </span>
            </div>
        </div>

        <div class="p-fluid formgrid grid">
            <div class="field col-4">
                <span class="p-float-label">
                    <p-dropdown [options]="prefixes" [(ngModel)]="selectedPrefix" name="selectedPrefix"
                        placeholder="คำนำหน้า" optionLabel="prefix_tname" optionValue="prefix_id"></p-dropdown>
                    <label for="float-label">คำนำหน้า</label>
                </span>
            </div>
            <div class="field col-4">
                <span class="p-float-label">
                    <input type="text" pInputText name="user_fname" id="user_fname" [(ngModel)]="user_fname" />
                    <label htmlFor="user_fname">ชื่อ</label>
                </span>
            </div>
            <div class="field col-4">
                <span class="p-float-label">
                    <input type="text" pInputText name="user_lname" id="user_lname" [(ngModel)]="user_lname" />
                    <label htmlFor="user_lname">นามสกุล</label>
                </span>
            </div>
        </div>

        <div class="p-fluid formgrid grid">
            <div class="field col">
                <span class="p-float-label">
                    <p-dropdown [options]="positions" [(ngModel)]="selectedPosition" name="selectedPosition"
                        placeholder="ตำแหน่ง" optionLabel="pos_name" optionValue="pos_id"></p-dropdown>
                    <label for="float-label">ตำแหน่ง</label>
                </span>
            </div>
        </div>

        <div class="p-fluid formgrid grid">
            <div class="field col">
                <span class="p-float-label">
                    <input type="text" pInputText name="user_email" id="user_email" [(ngModel)]="user_email" />
                    <label htmlFor="user_email">E-mail</label>
                </span>
            </div>

            <div class="field col">
                <span class="p-float-label">
                    <input type="text" pInputText name="user_tel" id="user_tel" [(ngModel)]="user_tel" />
                    <label htmlFor="user_tel">เบอร์โทร</label>
                </span>
            </div>
        </div>


        <br>
        <p-button class="login" label="สมัครสมาชิก" type="submit"></p-button>
    </form>
</div>