::ng-deep .menu1 p-menubarsub {
  margin-left: 650px;
}

::ng-deep .menu2 p-menubarsub {
  margin-left: 800px;
}

::ng-deep .menu3 p-menubarsub {
  margin-left: 730px;
}

::ng-deep .p-menubar {
  background: #3081D0;
  border: none;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

::ng-deep .p-menubar-button {
  position: absolute;
  right: 40px;
}

::ng-deep .title {
  background: none;
  padding: 10px;
  font-size: 25px;
  text-decoration: none;
  margin-left: 20px;
}

::ng-deep .title:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
}

::ng-deep .p-menuitem-text {
  color: white;
}

::ng-deep .p-menuitem-icon {
  color: white;
}

::ng-deep .p-menuitem-content {
  transition: none;
}

::ng-deep .p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus>.p-menuitem-content {
  background: none;
}

::ng-deep .p-menuitem-content:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  outline: none;
  box-shadow: none;
}

@media screen and (max-width: 1368px) {
  ::ng-deep .menu1 p-menubarsub {
    margin-left: 500px;
  }

  ::ng-deep .menu2 p-menubarsub {
    margin-left: 650px;
  }

  ::ng-deep .menu3 p-menubarsub {
    margin-left: 550px;
  }
}

@media screen and (max-width: 1280px) {
  ::ng-deep .menu1 p-menubarsub {
    margin-left: 400px;
  }

  ::ng-deep .menu2 p-menubarsub {
    margin-left: 550px;
  }

  ::ng-deep .menu3 p-menubarsub {
    margin-left: 450px;
  }
}

@media screen and (max-width: 1180px) {
  ::ng-deep .menu1 p-menubarsub {
    margin-left: 300px;
  }

  ::ng-deep .menu2 p-menubarsub {
    margin-left: 450px;
  }

  ::ng-deep .menu3 p-menubarsub {
    margin-left: 350px;
  }
}

@media screen and (max-width: 1115px) {
  ::ng-deep .menu1 p-menubarsub {
    margin-left: 250px;
  }

  ::ng-deep .menu2 p-menubarsub {
    margin-left: 400px;
  }

  ::ng-deep .menu3 p-menubarsub {
    margin-left: 300px;
  }
}

@media screen and (max-width: 1024px) {
  ::ng-deep .menu1 p-menubarsub {
    margin-left: 150px;
  }

  ::ng-deep .menu2 p-menubarsub {
    margin-left: 325px;
  }

  ::ng-deep .menu3 p-menubarsub {
    margin-left: 200px;
  }
}

@media screen and (max-width: 960px) {
  ::ng-deep .menu1 p-menubarsub {
    margin-left: 400px;
  }

  ::ng-deep .menu2 p-menubarsub {
    margin-left: 400px;
  }

  ::ng-deep .menu3 p-menubarsub {
    margin-left: 400px;
  }

  ::ng-deep p-menubarsub {
    margin-left: 0;
  }

  ::ng-deep .p-menuitem-text {
    color: white;
  }

  ::ng-deep .p-menuitem-icon {
    color: white;
  }

  ::ng-deep .p-menubar-button {
    color: white;
  }

  ::ng-deep .p-menubar-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  }

  ::ng-deep .p-menubar-root-list {
    background: #3081D0;
    padding: 0;
  }

  ::ng-deep .p-menuitem-content {
    border-radius: 0;
  }

  ::ng-deep .p-menuitem-content:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  }
}

@media screen and (max-width: 820px) {
  ::ng-deep .menu1 p-menubarsub {
    margin-left: 50px;
  }

  ::ng-deep .menu2 p-menubarsub {
    margin-left: 50px;
  }

  ::ng-deep .menu3 p-menubarsub {
    margin-left: 50px;
  }

  ::ng-deep .title {
    font-size: 20px;
    margin-left: 0px;
  }

}

/* @media screen and (max-width: 654px) {
  ::ng-deep .menu2 p-menubarsub {
    margin-left: 50px;
  }
} */

/* @media screen and (max-width: 512px) {
  ::ng-deep .menu2 p-menubarsub {
    margin-left: 50px;
  }

} */

@media screen and (max-width: 412px) {
  ::ng-deep .menu1 p-menubarsub {
    margin-left: 0px;
  }

  ::ng-deep .menu2 p-menubarsub {
    margin-left: 0px;
  }

  ::ng-deep .menu3 p-menubarsub {
    margin-left: 0px;
  }

  ::ng-deep .menu1 .p-menubar-button {
    right: 30px;
  }

  ::ng-deep .menu2 .p-menubar-button {
    right: 30px;
  }

  ::ng-deep .title {
    font-size: 20px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 376px) {
  ::ng-deep .title {
    font-size: 15px;
    margin-left: 0px;
    padding: 3px;
  }

  ::ng-deep .p-icon {
    width: 15px;
    height: 15px;
  }

  ::ng-deep .title:hover {
    border-radius: 4px;
  }
}

@media screen and (max-width: 280px) {
  ::ng-deep .menu1 .p-menubar-button {
    right: 5px;
  }

  ::ng-deep .menu2 .p-menubar-button {
    right: 5px;
  }

  ::ng-deep .menu3 .p-menubar-button {
    right: 5px;
  }

  ::ng-deep .p-menuitem>.p-menuitem-content .p-menuitem-link .p-menuitem-text {
    font-size: 13px;
  }
}