.example-container {
    padding: 10px;
}

.width-50 {
    width: 49%;
}

.ml-1 {
    margin-left: 1%;
}

.ml-2 {
    margin-left: 2%;
}

.width-100 {
    width: 100%;
}

.width-20 {
    width: 20%;
}

.width-40 {
    width: 38%;
}

h1 {
    text-align: center;
    font-weight: bold;
}

::ng-deep p-button {
    padding: 5px;
}

::ng-deep .swal2-container {
    z-index: 2204;
}
