<div class="p-dialog-title">
    <h1>แก้ไขชื่อผู้ใช้</h1>
</div>
<div class="p-dialog-content">
    <br>
    <div class="p-fluid formgrid grid">
        <div class="field col-4">
            <span class="p-float-label">
                <p-dropdown [options]="prefixes" [(ngModel)]="selectedPrefix" name="selectedPrefix"
                    placeholder="คำนำหน้า" optionLabel="prefix_tname" optionValue="prefix_id"></p-dropdown>
                <label for="float-label">คำนำหน้า</label>
            </span>
        </div>
        <div class="field col-4">
            <span class="p-float-label">
                <input type="text" pInputText name="user_fname" id="user_fname" [(ngModel)]="fname" />
                <label htmlFor="user_fname">ชื่อ</label>
            </span>
        </div>
        <div class="field col-4">
            <span class="p-float-label">
                <input type="text" pInputText name="user_lname" id="user_lname" [(ngModel)]="lname" />
                <label htmlFor="user_lname">นามสกุล</label>
            </span>
        </div>
    </div>
    <br>
    <div class="p-fluid formgrid grid">
        <div class="field col">
            <span class="p-float-label">
                <p-dropdown [options]="positions" [(ngModel)]="selectedPosition" name="selectedPosition"
                    placeholder="ตำแหน่ง" optionLabel="pos_name" optionValue="pos_id"></p-dropdown>
                <label for="float-label">ตำแหน่ง</label>
            </span>
        </div>
    </div>
    <br>
    <div class="p-fluid formgrid grid">
        <div class="field col">
            <span class="p-float-label">
                <input type="text" pInputText name="user_email" id="user_email" [(ngModel)]="email" />
                <label htmlFor="user_email">E-mail</label>
            </span>
        </div>

        <div class="field col">
            <span class="p-float-label">
                <input type="text" pInputText name="user_tel" id="user_tel" [(ngModel)]="tel" />
                <label htmlFor="user_tel">เบอร์โทร</label>
            </span>
        </div>
    </div>
</div>
<div class="p-dialog-footer">
    <p-button styleClass="p-button-secondary" (click)="closeDialog()" label="ปิด"></p-button>
    <p-button styleClass="p-button-warning" (click)="updateUser()" label="แก้ไขโครงการ"></p-button>
</div>